include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include erp_app *.css
recursive-include erp_app *.csv
recursive-include erp_app *.html
recursive-include erp_app *.ico
recursive-include erp_app *.js
recursive-include erp_app *.json
recursive-include erp_app *.md
recursive-include erp_app *.png
recursive-include erp_app *.py
recursive-include erp_app *.svg
recursive-include erp_app *.txt
recursive-exclude erp_app *.pyc